@font-face {
	font-family: 'Futura PT Light';
	src: url('../fonts/futuralNormal/FuturaPT-Light.eot');
	src: url('../fonts/futuralNormal/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/futuralNormal/FuturaPT-Light.woff') format('woff'),
	url('../fonts/futuralNormal/FuturaPT-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT Book';
	src: url('../fonts/futuralBook/FuturaPT-Book.eot');
	src: url('../fonts/futuralBook/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/futuralBook/FuturaPT-Book.woff') format('woff'),
	url('../fonts/futuralBook/FuturaPT-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT Bold';
	src: url('../fonts/futuralBold/futura-bold-bt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}